body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0px;
    font-family: Arial;
}
#blingToolbar {
    overflow: hidden;
    font-size: 12px;
    padding: 3px 3px 0px 3px;
}
#blingPreview {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 3px;
}
#blingMarkdown, #blingHtml {
    flex: auto;
    display: block;
    width: 50%;
    resize: none;
    outline: none;
    padding: 2px;
    border: 1px solid gray;
    overflow-y: scroll;
}

@media print {
    body, #blingPreview {
        display: block;
    }
    #blingToolbar, #blingMarkdown {
        display: none;
    }
    #blingHtml {
        width: 100%;
        overflow: hidden;
        border: 0px;
    }
    h1, h2, h3, h4, h5 {
        page-break-after: newer;
    }
    div.page {
        margin-top: 5%;
        page-break-after: always;
    }
    div.pageBreak hr {
        display: none;
    }
}
