#preview {
    font-family: Arial, Helvetica, sans-serif;
}

.page:first-of-type {
    background-image: url(./img/title-en.png);
    background-size: cover;
}

.page {
    background-image: url(./img/CSC_logo.svg), linear-gradient(to right, #830051 50%, #006778 50%, #006778 75%, #7dc242 75%, #7dc242 75%);
    background-size: 12%, 100% 0.5rem;
    background-position: 97% 3%, bottom left;
    background-repeat: no-repeat, no-repeat;
}

h1 {
    position: relative;
    margin: 0;
    padding-top: 23%;
    padding-left: 28%;
    font-size: 1.5rem;
    line-height: 1.2;
    color: white;
}

.date {
    font-weight: normal;
    color: white;
    padding-top: 0.5rem;
    padding-left: 28%;
    margin: 0px;
}

